<%- include('header'); %>

    <div class="box" >
            <% for(var i=0;i<newListItems.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newListItems[i] %></p>
                </div>
            <% } %>

            <form class="item" action="/" method="POST">
                <input type="text" placeholder="Enter new item" name="newItem" autocomplete="off">
                <button type="submit" name="button" value=<%= kindOfDay %>>+</button>
             </form>
     </div>

<%- include('footer'); %>     